<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">7777777@Msd</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/onlinejobportal</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>
        
        <mapping class="com.edu.onlinejobportal.Pojo.Applicant"/>
        <mapping class="com.edu.onlinejobportal.Pojo.Company"/>
        <mapping class="com.edu.onlinejobportal.Pojo.Jobs"/>
        <mapping class="com.edu.onlinejobportal.Pojo.Application"/>
        <mapping class="com.edu.onlinejobportal.Pojo.JobDescription"/>

    </session-factory>
</hibernate-configuration>
